{% extends "product/base.html" %}

{% block title %}Products{% endblock %}

{% block breadcrumbs %}
    <a href="/">Home</a> |
    Products
{% endblock %}


{% block content %}
    {% if products %}
        <div>Sort by: <a href="?sort=name">Name</a> | <a href="?sort=price">Price</a> | <a href="?sort=likes">Likes</a></div>
        <dl class="products">
            {% for product in products %}
                <dt>
                    <a href="{% url 'products:detail' product.slug %}">{{ product.name }}</a>
                    - {{ product.price }} (Likes: {{ product.likes }})
                </dt>
                <dd>{{ product.description }}</dd>
            {% endfor %}
        </dl>
    {% else %}
        <h3>No products. You can add new product on <a href="{% url 'admin:' %}">admin page</a></h3>
    {% endif %}
{% endblock %}